{{ define "base" }}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
	<title>{{ template "title" }}</title>
	<style type="text/css">
		body {
			margin: auto;
		}
	</style>
</head>

<body>
	{{ template "content" .}}
</body>

</html>
{{ end }}