{{ define "title" }} Запись к тренеру на выбранный интервал времени {{ end }}
{{ define "content" }}
	{{if .Workouts}}
	{{range .Workouts}}
		<div style="max-width: 500px;">
			<form class="pure-form pure-form-stacked" method="POST" action="/workout/{{.ID}}">
				<fieldset>
					<legend>{{ template "title" }}</legend>
					<div class="pure-g">

						<div class="pure-u-1-1">
							<label>Фамилия
								<input class="pure-u-1-1" type="text" name="lastname" required>
							</label>
						</div>

						<div class="pure-u-1-1">
							<label>Имя
								<input class="pure-u-1-1" type="text" name="name" required>
							</label>
						</div>

					</div>

					<button type="submit" class="pure-button pure-button-primary">Записаться</button>
				</fieldset>
			</form>
			<a class="pure-button pure-button-primary" href="/">Назад</a>
		</div>
	{{end}}
	{{else}}
		Не удалось загрузить информацию по выбранной Вами тренировке
	{{end}}
{{ end }}
