{{ define "title" }} Расписание занятий тренера {{ end }}
{{ define "content" }}
	{{if .Workouts}}
	<h2>{{ template "title" }}</h2>
	<h3>Необходимо выбрать временной интервал для записи к тренеру</h3>
	<table class="pure-table">
	    <thead class="pure-table thead">
	        <tr style="border: 1px solid;">
				<th class="pure-table th">Временной интервал</th>
	        </tr>
		</thead>
		{{range .Workouts}}
			{{if .PersonID}}
				<tr style="border: 1px solid;">
					<td>
						<b>К тренеру на это время записан(-а):</b> {{.PersonLastname}} <br>
						<b>Время начала:</b> {{.StartTime}} <br>
						<b>Время окончания:</b> {{.EndTime}} 
					</td>
				</tr>
			{{else}}
				<tr style="border: 1px solid;">
					<td>
						<a href="/workout/{{.ID}}">
							<b>Время начала:</b> {{.StartTime}} <br>
							<b>Время окончания:</b> {{.EndTime}} 
						</a>
					</td>
				</tr>
			{{end}}
		{{end}}
	</table>
	{{else}}
		Не удалось загрузить расписание тренера
	{{end}}
{{ end }}
